Repository chastelock/chaste: changes, and which Codecov flags are due for each by the changed paths.
All: chaste, chaste-bun, chaste-npm, chaste-pnpm, chaste-yarn, yarn-state

yarn(classic): Fix crash on npm: prefix without alias
  chaste-yarn/src/classic/mod.rs
Due: chaste-yarn

fuzz: Enable zpm in yarn
  fuzz/Cargo.toml
Due: none

yarn(zpm): Replace todo! with an error
  chaste-yarn/src/error.rs
  chaste-yarn/src/zpm/mod.rs
Due: chaste-yarn

yarn: Remove invalid TODO: comments
  chaste-yarn/src/berry/mod.rs
  chaste-yarn/src/zpm/mod.rs
Due: chaste-yarn

yarn: Remove outdated TODO: comment
  chaste-yarn/src/tests.rs
Due: chaste-yarn

yarn: Rework test macros
  chaste-yarn/src/tests.rs
Due: chaste-yarn

types(svs): Recognize yarn patch: protocol
  Cargo.lock
  chaste-types/Cargo.toml
  chaste-types/src/svs.rs
Due: none

types(Package): Allow to Clone a PackageBuilder
  chaste-types/src/package.rs
Due: none

yarn(zpm): Mark patch derivations from overrides
  chaste-yarn/src/tests.rs
  chaste-yarn/src/zpm/mjam.rs
  chaste-yarn/src/zpm/mod.rs
Due: chaste-yarn

yarn(zpm): Depend on percent-encoding
  chaste-yarn/Cargo.toml
Due: chaste-yarn

yarn(zpm): Don't re-parse specifiers if not needed
  chaste-yarn/src/zpm/mod.rs
Due: chaste-yarn

Use snelleutf to validate file encoding
  Cargo.lock
  Cargo.toml
  chaste-bun/Cargo.toml
  chaste-bun/src/lib.rs
  chaste-cli/Cargo.toml
  chaste-npm/Cargo.toml
  chaste-npm/src/lib.rs
  chaste-pnpm/Cargo.toml
  chaste-pnpm/src/lib.rs
  chaste-types/Cargo.toml
  chaste-types/src/lib.rs
  chaste-types/src/util.rs
  chaste-yarn/Cargo.toml
  chaste-yarn/src/lib.rs
  chaste/Cargo.toml
Due: chaste, chaste-bun, chaste-npm, chaste-pnpm, chaste-yarn

pnpm: Recognise peers hashes in snapshot keys
  chaste-pnpm/src/lib.rs
  chaste-pnpm/src/tests.rs
  chaste-pnpm/test_workspaces/v9_peer_hashed/package.json
  chaste-pnpm/test_workspaces/v9_peer_hashed/pnpm-lock.yaml
  chaste-pnpm/test_workspaces/v9_peer_hashed/pnpm-workspace.yaml
Due: chaste-pnpm

pnpm: Oh. Mark peer dependencies in snapshots with hashed keys
  chaste-pnpm/src/lib.rs
Due: chaste-pnpm

pnpm: Add a SourceType test
  chaste-pnpm/src/tests.rs
Due: chaste-pnpm

ci: Add reuse action
  .forgejo/workflows/reuse.yaml
Due: none

ci: Add test action
  .forgejo/workflows/test.yaml
Due: none

ci: Checkout the code
  .forgejo/workflows/reuse.yaml
  .forgejo/workflows/test.yaml
Due: none

ci: Install nodejs for reuse
  .forgejo/workflows/reuse.yaml
Due: none

ci: Remove old woodpecker workflows
  .woodpecker/reuse.yaml
  .woodpecker/test.yaml
Due: none

yarn: Mark implementation in Meta
  chaste-yarn/src/berry/mod.rs
  chaste-yarn/src/classic/mod.rs
  chaste-yarn/src/lib.rs
  chaste-yarn/src/zpm/mod.rs
Due: chaste-yarn

yarn: Refer to test workspaces with their implem
  chaste-yarn/src/lib.rs
  chaste-yarn/src/tests.rs
Due: chaste-yarn

ci: Fix feature_flags matrix
  .forgejo/workflows/test.yaml
Due: none

yarn(berry): Allow lockfile versions 9 and 10
  chaste-yarn/src/lib.rs
Due: chaste-yarn

yarn: Pass implem to tests
  chaste-yarn/src/tests.rs
Due: chaste-yarn

yarn: Missed one file
  chaste-yarn/test_workspaces/b9_peer_unsatisfied/.npmrc
Due: chaste-yarn

yarn: Check-in .yarn/patches/ in tests
  .gitignore
  chaste-yarn/test_workspaces/b6_resolutions_svs_scoped/.yarn/patches/string-hash-npm-1.1.3-3cb8892e7c.patch
  chaste-yarn/test_workspaces/b8_resolutions_svs_scoped/.yarn/patches/string-hash-npm-1.1.3-3cb8892e7c.patch
  chaste-yarn/test_workspaces/z9_resolutions_svs_scoped/.yarn/patches/string-hash-npm-1.1.3-3cb8892e7c.patch
Due: chaste-yarn

yarn: Enable resolutions_svs_scoped test on b9/b10
  chaste-yarn/src/tests.rs
  chaste-yarn/test_workspaces/b10_resolutions_svs_scoped/.yarn/patches/string-hash-npm-1.1.3-3cb8892e7c.patch
  chaste-yarn/test_workspaces/b10_resolutions_svs_scoped/.yarnrc.yml
  chaste-yarn/test_workspaces/b10_resolutions_svs_scoped/package.json
  chaste-yarn/test_workspaces/b10_resolutions_svs_scoped/yarn.lock
  chaste-yarn/test_workspaces/b9_resolutions_svs_scoped/.yarn/patches/string-hash-npm-1.1.3-3cb8892e7c.patch
  chaste-yarn/test_workspaces/b9_resolutions_svs_scoped/.yarnrc.yml
  chaste-yarn/test_workspaces/b9_resolutions_svs_scoped/package.json
  chaste-yarn/test_workspaces/b9_resolutions_svs_scoped/yarn.lock
Due: chaste-yarn

ci: Generate test coverage
  .forgejo/workflows/test.yaml
Due: none

ci: Test
  .forgejo/workflows/test.yaml
Due: none

ci: Remove coverage
  .forgejo/workflows/test.yaml
Due: none

Remove codecov.yml
  codecov.yml
Due: none

Path conditions:
  chaste: any of: chaste/**
  chaste-bun: any of: chaste-bun/**
  chaste-npm: any of: chaste-npm/**
  chaste-pnpm: any of: chaste-pnpm/**
  chaste-yarn: any of: chaste-yarn/**
  yarn-state: any of: yarn-state/**
